@{
    ViewBag.Title = "Email Confirmed";
}

<style>
    body {
        background-color: bisque;
    }

    h3 {
        font-style: italic;
    }
</style>

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
