@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<style>
    body {
        background-color: bisque;
    }

    h3 {
        font-style: italic;
    }
</style>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
