@{
    Layout = "~/Views/Shared/_ConfirmEmailLayout.cshtml";
    ViewBag.Title = "Confirm Email";
}

<style>
    body {
        background-color: bisque;
    }

    h3 {
        font-style: italic;
    }
</style>

<div class="jumbotron">
    <center>
        <h3>Please Confirm Your Email Address</h3>
        <p class="lead">Check your email for a link to confirm your account before you log in</p>
    </center>
</div>

